replicaCount: 1

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-staging
  hosts:
    - host: staging.aks.tu-dominio.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: tfm-app-staging-tls
      hosts:
        - staging.aks.tu-dominio.com

networkPolicy:
  enabled: true
  allowIngressFromSameNamespace: true
