prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          # storageClassName: gp3
          resources:
            requests:
              storage: 10Gi

grafana:
  persistence:
    # storageClassName: gp3
    size: 5Gi

alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          # storageClassName: gp3
          resources:
            requests:
              storage: 2Gi
