config:
  clients:
    - url: http://loki.logging.svc.cluster.local:3100/loki/api/v1/push

  snippets:
    pipelineStages:
      - cri: {}

# Etiquetas útiles (mínimas) para filtros en Grafana
extraArgs:
  - -client.external-labels=cluster={{ .Values.cluster | default "k8s" }}

# Recursos mínimos
resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
